<h1>Welcome to the A Song of Ice and Fire Trivia Challenge!!!</h1>
<p>Choose your level of lore mastery:</p>

<p>Alcolyte: (take a short quiz of EASY questions)</p>
<%= link_to "Take a quiz!", quiz_index_path %>
<p>Maester: (take the challenge of MEDIUM questions: 100 questions: see where you rank against others!)</p>

<p>Arch-Maester: (take the challenge of HARD questions, only true masters of Westeros history and lore will succeed: 100 questions: see where you rank against others!)</p>
