<%= link_to "Home", root_path %><br>

<% @categories.each do |cat| %>
-----------------------------------------
    <header><%= cat.name %></header>
-----------------------------------------
<section>
        <% cat.stories.each do |str| %>
		<p><%= link_to str.title, str.link %> ===
                  <%= link_to "Show Details", story_path(str) %> </p>
        <% end %>
</section>
<% end %>
    
