<%= link_to "Home", root_path %><p></p>

Stories for category:<%= @tgs %>

<% @categories.each do |cat| %>
   <% if cat.name == @tgs %>
	<% cat.stories.each do |str| %>
	       <p><%= link_to str.title, str.link %> ===
		  <%= link_to "Show Details", story_path(str) %> </p>
        <% end %>
   <% else %>
   <% end %>
<% end %>
